name: First workflow excercise 
on: push
jobs: 
  lint-test-build:
    runs-on: ubuntu-latest  
    steps: 
      - name: Get code
        uses: actions/checkout@v5
      - name: Linting
        run: npm run lint
      - name: Run tests
        run: npm test
      - name: Deploy app
        run: npm run build  